<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('head.ejs') %>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>관리자 페이지</title>

    <link href="./css/admin.css" rel="stylesheet" />
    <script src="./js/admin.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"
      integrity="sha512-YeeA/Qxn5hYdkukScTCNNOhTrv1C2RubAGButJ1rmgQwZf/HdRaCGl+JAVkqsqaNRaYNHdheiuKKuPf9mDcqKg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <div id="fullscreen">
      <div id="screen1"></div>
      <div id="screen2">
        <div id="screen2-1">
          <div class="container-wrap">
            <ul class="tabs">
              <li class="tab-link current" data-tab="tab-1">회원관리</li>
              <li class="tab-link" data-tab="tab-2">상품목록관리</li>
              <li class="tab-link" data-tab="tab-3">좌석관리</li>
            </ul>
            <div id="tab-1" class="tab-content current">
              <table>
                <thead>
                    <tr>
                        <th>아이디</th>
                        <th>이름</th>
                        <th>휴대전화</th>
                        <th>이메일</th>
                        <th>포인트</th>
                        <th>포인트 변경</th>
                        <th>회원 관리</th>
                     </tr>
                </thead>
                <tbody id="user-list">
                </tbody>
            </table>
            </div>
            <div id="tab-2" class="tab-content">tab content2</div>
            <div id="tab-3" class="tab-content">tab content3</div>
          </div>
        </div>
        <div id="screen2-2">
          <div id="eventlog">
            <p style="font-size: 25px">이벤트로그</p>
            <div id="logs"></div>
          </div>
        </div>
      </div>
      <div id="screen3">
        <div id="btn-logout">
          <button type="button" class="btn btn-danger" onclick="logOut()">
            로그아웃
          </button>
        </div>
      </div>
    </div>
  </body>
<script>
  $.ajax({
          type: 'GET',
          url: `/api/admin`,
          async: false,
          success: function (response) {
              for (let i = 0; i < response.length; i++) {
                  let { userId, id, name, phone, email, points } = response[i]

                  let temp_html = `<tr>
                                      <td>${id}</td>
                                      <td>${name}</td>
                                      <td>${phone}</td>
                                      <td>${email}</td>
                                      <td>${points}</td>
                                      <td><button onclick="pointUpdate(${userId})">포인트 변경</button></td>
                                      <td><button onclick="userDelete(${userId})">삭제</button></td>
                                  </tr>`
                  $('#user-list').append(temp_html);
              }

              
          },
      });
</script>
<script>
  // 포인트 충전
  function pointUpdate(userId) {
    let pointInput = prompt("얼마나 변경하시겠습니까?");
    const points = pointInput;
    $.ajax({
        type: 'PUT',
        url: `/api/admin/${userId}`,
        data: { points },
        success: function (data) {
            alert(points+'로 변경하였습니다.', data)
            location.reload()
        },
    })
  }

  // 회원 삭제
  function userDelete(userId) {
      let result = confirm("해당 회원을 삭제 하시겠습니까?");
      if (result) {
          $.ajax({
              type: 'DELETE',
              url: `/api/admin/${userId}`,
              async: false,
              success: function (response) {
                  alert("삭제가 완료되었습니다.");
                  location.reload()
              }
          })
      } else {
          alert("취소합니다.");
      }
  }  
</script>
</html>
