<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('head.ejs') %>

    <link rel="stylesheet" href="css/foodOrder.css">

    <title></title>
</head>

<body>
    <%- include('header.ejs') %>

    <div id="pcOrderInfo">
        <p style="font-size:30px; margin-bottom: 0;">PC #<%= pcOrder.pcId %> %></p>
        <p id="remainingTime"></p>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-9" id="productListAndTabs">
                <div class="row" id="productTypeTabs">
                    tabs
                </div>
                <div class="row">
                    <div class="row row-cols-4" id="productList">
                        <!-- <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div> -->
                        
                    </div>
                </div>
            </div>
            <div class="col-3" id="cart">
                cart
            </div>
        </div>
    </div>


    <script>
        let endDateTime = '<%= pcOrder.endDateTime %>'
        endDateTime = new Date(endDateTime)
        console.log(endDateTime)

        let countDown = setInterval(function() {
            const endTime = endDateTime.getTime()
            let now = new Date().getTime()

            let diff = endTime - now

            let hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))
            let minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60))
            let seconds = Math.floor((diff % (1000 * 60)) / 1000)

            document.getElementById('remainingTime').innerHTML = `잔여 시간: ${hours}:${minutes}:${seconds}`

            if (diff <= 0) {
                alert('이용시간이 끝났습니다!')
                window.location.href = '/'
            }
        }, 1000)


        $(document).ready(function () {
            $.ajax({
            type: 'GET',
            url: `/api/products`,
            async: false,
            success: function (response) {
                let productName
                let productPrice
                let productImgUrl
                let productType
                let temp_html

                for(let i=0; i<response.length; i++) {
                    let {productName, productPrice, productImgUrl, productType} = response[i]

                    temp_html = `<div class="col">
                                    <div class="card" style="width: 18rem;">
                                        <img src="${productImgUrl}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                        <h5 class="card-title">${productName}</h5>
                                        <p class="card-text">가격: ${productPrice}p</p>
                                        <a href="#" class="btn btn-primary">장바구니에 추가</a>
                                        </div>
                                    </div>
                                </div>`
                    
                    $('#productList').append(temp_html)
                }    
            }
            })
        })
    </script>
</body>