<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <div class="container">
        <div class="container text-center">
            <div class="row">
              <div class="col">
                <div class="position-absolute top-50 start-50 translate-middle">
                    <div class="body">
    
                        <input class="form-control" type="text" value="Disabled readonly input" aria-label="강하루" disabled readonly>
                        <div class="col-auto">
                            <label for="inputPassword2" class="visually-hidden">haru1004</label>
                            <label for="inputPassword2" class="visually-hidden">강하루</label>
                            <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
                            <input type="password" class="form-control" id="inputPassword2" placeholder="PasswordConfirm">
                            <input type="text" class="form-control" id="ㄷ" placeholder="email">
                           
                                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                  <input type="password" class="form-control" id="inputPassword">
                                </div>
                             
                          </div>

                          <div class="input-group input-group-sm mb-3">
                        
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                          </div>
                          
                        
                    </div>
                  </div>
              </div>
              </div>
            </div>
          </div>
    </div>

</body>
</html>