@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    /* font-weight: 300; */
    font-style: normal;
}

@font-face {
    font-family: 'NEXEN_TIRE_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/NEXEN_TIRE_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #334756;
    color:rgb(238, 238, 238);
    font-family: 'NEXEN_TIRE_Bold';
}

input {
    border-radius: 10px;
}

.commonButton {
    background-color: #FF4C29 !important;
    border-color: #FF4C29 !important;
}

.commonButton:hover, .commonButton:active, .commonButton:focus {
    background-color: #e44525 !important;
    border-color: #e44525 !important;
    box-shadow: 0 2px 2px rgb(228, 69, 37, 0.075) !important;
}