@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  /* font-weight: 300; */
  font-style: normal;
}

@font-face {
  font-family: 'NEXEN_TIRE_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/NEXEN_TIRE_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #334756;
  color:rgb(238, 238, 238);
  font-family: 'NEXEN_TIRE_Bold';
}

table {
  width: 100%;
}
table, th, td {
  border: 1px solid #bcbcbc;
}